@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
:root {
  --overlay-image: none;
  --transform: translateX(0px);
  --transform-missed: scale(0);
  --hide-missed: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}
header {
  max-width: 1000px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 5;
  border-bottom: 1px solid hsla(217, 9%, 45%, 0.178);
  position: relative;
}
img,
.button,
li {
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 15px;
}
.logo img:first-child {
  display: none;
}
nav {
  flex: 2;
  margin-left: 60px;
}
.side-menu {
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.753);
  z-index: 10;
}
.show-side-menu {
  visibility: visible;
}
.side-menu .content {
  height: 100%;
  width: 60%;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  position: fixed;
  left: -60%;
  transition: all 0.4s !important;
  -webkit-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  -ms-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
}
.show-content {
  left: 0% !important;
}
.side-menu .content ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.76);
  font-size: 18px;
}
.side-menu .content ul li {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.side-menu .content ul li:hover {
  padding-left: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
nav ul li {
  color: hsl(219, 9%, 45%);
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
nav ul li:hover {
  color: rgb(0, 0, 0);
}
nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: hsla(217, 9%, 45%, 0.178);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -46px;
}
nav ul li:hover nav ul li::after {
  height: 1px;
  background-color: orange;
}
header .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .card img:nth-child(2) {
  width: 50px;
}
main {
  padding: 30px;
}
.card {
  position: relative;
}
.card img:nth-child(2) {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1px;
}
.card img:nth-child(2):hover {
  border: 2px solid hsl(26, 100%, 55%);
}
.card-content {
  top: 80px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  gap: 20px;
  padding: 20px 0px;
  background-color: white;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  min-height: 200px;
}
.show-card {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}
.card-content h1 {
  font-size: 16px;
  width: 100%;
  margin-left: 0.9rem;
  color: rgba(0, 0, 0, 0.781);
}
.card-content .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  flex: 4;
}
.head-cart {
  width: 100%;
}
.line {
  width: 100%;
  height: 1px;
  background-color: hsla(217, 9%, 45%, 0.178);
  margin-top: 20px;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.main-content .text p {
  font-size: 12px;
  color: hsl(219, 9%, 45%);
}
.main-content .text span {
  font-size: 13px;
  color: hsl(219, 9%, 45%);
}
.main-content .quantity span:last-child {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.main-content img:first-child {
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.main-content img:last-child {
  height: 15px;
}
.prod {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
}
.button {
  padding: 10px;
  color: white;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
}

.card-content .button {
  min-width: 90%;
  margin: 0px auto;
  padding: 15px;
  color: white;
  background-color: hsl(26, 100%, 55%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 14px;
}
@media (max-width: 750px) {
  header {
    margin-top: 0 !important;
    border-bottom: none;
  }
  nav {
    display: none;
  }
  .logo img:first-child {
    display: block;
    width: 18px;
  }
  .logo {
    flex: 4;
    justify-content: flex-start;
    align-items: center;
  }
  header {
    justify-content: flex-end;
  }
}


.main__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 50px auto;
  gap: 20px;
  padding: 30px;
}
.current-prodact {
  position: relative;
}
.current-prodact img:not(.next):not(.pre) {
  width: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.next,
.pre {
  width: 30px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
}

.display__prodact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  align-self: center;
  justify-self: center;
}
.prodact-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.prodact-images img {
  width: 85px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.prodact-images div {
  position: relative;
}
.overlay {
  position: absolute;
  width: 85px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 86px;
  bottom: 90px;
  background-color: rgba(255, 255, 255, 0.651);
  z-index: 100;
  visibility: hidden;
}
.show-overlay {
  visibility: visible;
  border: 2px solid hsl(26, 100%, 55%);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 350px;
}
.text h1 {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  margin-bottom: 20px;
}
.right .text p {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  margin-bottom: 10px;
}
.right .text p:first-child {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  letter-spacing: 2px;
}
.prise .current-prise {
  font-weight: 800;
  padding-right: 10px;
  font-size: 22px;
}
.prise .dis {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 2px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.prise .pre-prise {
  font-size: 15px;
  color: hsl(219, 9%, 45%);
  margin-top: 5px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.pay .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  flex: 2;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pay .select span {
  font-weight: 700;
}
.pay .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  flex: 4;
  font-weight: 500;
  position: relative;
  transition: all 1s;
}

.current-prodact {
  overflow: hidden;
  max-width: 450px;
}
.current-prodact .parent {
  display: flex;
  transform: var(--transform);
  -webkit-transform: var(--transform);
  -moz-transform: var(--transform);
  -ms-transform: var(--transform);
  -o-transform: var(--transform);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  flex: 4;
  position: relative;
}
.temp {
  position: relative;
  z-index: 100;
}

.hide-button {
  display: none !important;
}
.clear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
}
.card::after {
  content: attr(data-num);
  position: absolute;
  height: 12px;
  width: 15px;
  border-radius: 40%;
  -webkit-border-radius: 40%;
  -moz-border-radius: 40%;
  -ms-border-radius: 40%;
  -o-border-radius: 40%;
  background-color: hsl(26, 100%, 55%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  top: 7px;
  left: 10px;
  font-weight: 800;
  visibility: var(--hide-missed);
  transform: var(--transform-missed);
  -webkit-transform: var(--transform-missed);
  -moz-transform: var(--transform-missed);
  -ms-transform: var(--transform-missed);
  -o-transform: var(--transform-missed);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.mobil-img {
  display: none;
}
.mobil-img img {
  max-width: 350px;
}
.mobil-img .pre {
  top: 50%;
}
.mobil-img .next {
  top: 50%;
}
@media (max-width: 730px) {
  .main__content {
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
  }
  .display__prodact {
    display: none;
  }
  .mobil-img {
    display: inline-block;
    position: relative;
  }
  .mobil-img img {
    max-width: 350px;
  }

  .prodact-images {
    display: none;
  }

 

  .prise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .pay {
    flex-direction: column;
  }
  .pay .select {
    width: 100%;
  }
  .pay .button {
    width: 100%;
  }
  .next,
  img.pre {
    display: block;
  }
  .pre {
    top: 50%;
    left: 20px;
  }
  .next {
    top: 50%;
    right: 15px;
  }
}
.display-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  top: -130px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
  font-size: small;
}

.footer-bottom p a {
  color: #FE980F;
  font-style: italic;
  text-decoration: underline;
}